.sideContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.imageWrapper {
  position: relative;
  display: inline-block; /* للسماح بموضع زر الحذف فوق الصورة */
}

.imageWrapper img {
  width: 150px; /* يمكنك تعديل الحجم حسب رغبتك */
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.deleteButton {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%; /* لجعلها دائرة */
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.deleteButton:hover {
  background-color: darkred; /* تأثير عند الهوفر */
}